@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model MartialArts.Models.ViewModels.ClassDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h3>@Html.DisplayFor(model => model.Class.Style.Name)</h3>
<p>@Enum.GetName(typeof(DayOfWeek), Model.Class.DayOfWeek), @Html.DisplayFor(model => model.Class.StartTime) - @Html.DisplayFor(model => model.Class.EndTime)</p>

<div class="row">
    @foreach (var date in Model.sortByDates)
    {
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <h5>
                        @date.Key.ToShortDateString()
                    </h5>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        @foreach (var student in date.Attendees)
                        {
                            <li class="list-group-item p-1">
                                @student.Student.FullName
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <text> [ </text>
                                    <a asp-action="RemoveClassAttendance" asp-controller="Attendances" asp-route-id="@student.Id">Delete</a>
                                    <text> ]</text>
                                }
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
</div>
<div>
    @if (SignInManager.IsSignedIn(User))
    {
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Class.Id">Edit</a><text> |</text>
    }
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>