@model MartialArts.Models.ViewModels.ClassDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h3>@Html.DisplayFor(model => model.Class.Style.Name)</h3>
<p>@Enum.GetName(typeof(DayOfWeek), Model.Class.DayOfWeek), @Html.DisplayFor(model => model.Class.StartTime) - @Html.DisplayFor(model => model.Class.EndTime)</p>

<div class="row">
    @foreach (var date in Model.sortByDates)
    {
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    @date.Key.ToShortDateString()
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        @foreach (var student in date.Attendees)
                        {
                            <li class="list-group-item mb-2">
                                @student.Student.FullName<text> [ </text>
                                <a asp-action="RemoveClassAttendance" asp-controller="Attendances" asp-route-id="@student.Id">Delete</a>
                                <text> ]</text>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Class.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>