@model IEnumerable<MartialArts.Models.Class>

@{
    ViewData["Title"] = "Classes";
}

<h1>Classes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Style)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayOfWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr @{if (DateTime.Now.DayOfWeek.ToString() == Enum.GetName(typeof(DayOfWeek), item.DayOfWeek)) { <text>class="table-info"</text>; }}>
            <td>
                @Html.DisplayFor(modelItem => item.Style.Name)
            </td>
            <td>

                @Enum.GetName(typeof(DayOfWeek), item.DayOfWeek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                <a asp-action="ClassAttendance" asp-controller="Attendances" asp-route-id="@item.Id">Attendance</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
