@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<MartialArts.Models.Class>

@{
    ViewData["Title"] = "Classes";
}

<h1>Classes</h1>
@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a class="btn btn-success" asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Style)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayOfWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr @{if (DateTime.Now.DayOfWeek.ToString() == Enum.GetName(typeof(DayOfWeek), item.DayOfWeek)) { <text> class="table-success" </text> } }>
                <td>
                    @Html.DisplayFor(modelItem => item.Style.Name)
                </td>
                <td>

                    @Enum.GetName(typeof(DayOfWeek), item.DayOfWeek)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-sm btn-info" asp-action="ClassAttendance" asp-controller="Attendances" asp-route-id="@item.Id">Attendance</a>
                        <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
