@model MartialArts.Models.ViewModels.ClassAttendanceViewModel
@{
    ViewData["Title"] = "Class Attendance";
}

<h3>Attendance for @Html.DisplayFor(model => model.Class.Style.Name)</h3>
<p>@Enum.GetName(typeof(DayOfWeek), @Model.Class.DayOfWeek), @Html.DisplayFor(model => model.Class.StartTime)<text> - </text> @Html.DisplayFor(model => model.Class.EndTime)</p>

<div class="row">
    <div class="col-md-4">
        <form asp-action="ClassAttendance">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClassId" />
            <div class="form-group">
                <label asp-for="DateOfClass" class="control-label"></label>
                <input asp-for="DateOfClass" class="form-control" />
                <span asp-validation-for="DateOfClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AllStudents" class="control-label"></label>
                <select asp-for="AllStudents" asp-items="ViewBag.Students" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Classes">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}