@model MartialArts.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.FullName)</h1>

<div class="col-6">
    <div>
        <h3>Personal Details</h3>
        [ <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> ]
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Phone)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Email)
            </dd>
        </dl>
    </div>
    <hr />
    <div>
        <h3>Arts</h3>
        [ <a asp-action="AddNewStyle" asp-route-id="@Model.Id">Add New Style</a> ]
        @foreach (var item in Model.Styles)
        {
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayFor(model => item.Style.Name)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => item.Rank.Name)
                </dd>
            </dl>
            <text>[ </text><a asp-action="EditRankAndForms" asp-route-StudentId="@Model.Id" asp-route-StyleId="@item.Style.Id">Edit Rank</a> <text> ]</text>
            @foreach (var form in Model.Forms)
            {
                <ul class="list-group">
                    <li class="list-group-item">
                        @Html.DisplayFor(model => form.Form.Name)
                    </li>
                </ul>
            }
        }
    </div>
    <hr />
    <div>
        <h3>Dates</h3>
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.FirstClass)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.FirstClass)
            </dd>
            <dt class="col-sm-4">
                Last Testing date
            </dt>
            <dd>

            </dd>
            <dt class="col-sm-4">
                Suggested Next Testing
            </dt>
            <dd>

            </dd>
        </dl>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
