@model IEnumerable<MartialArts.Models.Student>

@{
    ViewData["Title"] = "InactiveStudents";
}

<h1>Inactive Students</h1>

<div class="row">
    @foreach (Student item in Model)
    {
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header"><a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.FullName)</a></div>
                <div class="card-body">
                    <p>@Html.DisplayFor(modelItem => item.Address)</p>
                    <p>@Html.DisplayFor(modelItem => item.Phone)</p>
                    <p>@Html.DisplayFor(modelItem => item.Email)</p>
                    <h6 class="card-subtitle">Styles</h6>
                    <ul class="list-group list-group-flush">
                        @foreach (var styleid in item.Styles)
                        {
                            <li class="list-group-item">@Html.DisplayFor(modelItem => styleid.Style.Name)</li>

                        }
                    </ul>
                </div>
            </div>
        </div>
    }
</div>