@model IEnumerable<MartialArts.Models.Style>

@{
    ViewData["Title"] = "Styles";
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
                <div class="card-body">
                    @Html.DisplayFor(modelItem => item.Description)
                    <hr />
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </div>
        </div>
    }
</div>