@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<MartialArts.Models.Event>

@{
    ViewData["Title"] = "Events";
}

<h1>Events</h1>

<div class="row">
    @foreach (var item in Model)
    {
        DateTime whatIsToday = DateTime.Now;
        DateTime withinWeek = whatIsToday.AddDays(7);
        string setHighlightClass = null;
        if (item.EndTime < whatIsToday)
        {
            setHighlightClass = "text-muted";
        }
        else if (item.StartTime > whatIsToday && item.StartTime < withinWeek)
        {
            setHighlightClass = "bg-info text-light";
        }
        <div class="col-sm-4">
            <div class="card mb-4 @setHighlightClass">
                <div class="card-header">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                </div>
                <div class="card-body">
                    @Html.DisplayFor(modelItem => item.StartTime)<text> - </text>@Html.DisplayFor(modelItem => item.EndTime)
                    <hr />
                    <p>@Html.DisplayFor(modelItem => item.Description)</p>
                    <p><b>@Html.DisplayNameFor(model => model.Staff):</b> @Html.DisplayFor(modelItem => item.Staff.FullName)</p>
                    <hr />
                    <p>@Html.DisplayFor(modelItem => item.Location)</p>
                    <p>@Html.DisplayFor(modelItem => item.LocationNotes)</p>
                </div>
                <div class="card-footer">
                    @if (item.EndTime > whatIsToday && SignInManager.IsSignedIn(User))
                    {
                        <a class="@setHighlightClass" asp-action="Edit" asp-route-id="@item.Id">Edit</a><text> |</text>
                    }
                    <a class="@setHighlightClass" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (item.EndTime > whatIsToday && SignInManager.IsSignedIn(User))
                    {
                        <text>| </text><a class="@setHighlightClass" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </div>
            </div>
        </div>
    }
</div>